body {
    background-color: #1a1a2e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.content {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navbar {
    margin-bottom: 3px;
}

.instruments-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    height: 180px;
    background: #ffffff;
    color: #000;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.mixer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 20px;
}

.vinyl-record {
    font-size: 80px;
}

.sliders {
    display: flex;
    gap: 10px;
}

.slider {
    appearance: slider-vertical;
    width: 15px;
    height: 150px;
}

.save-mix {
    background: #7a3131;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
}


@media (max-width: 1024px) {
    .instruments-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .content {
        width: 90%;
    }
}


@media (max-width: 600px) {
    .content {
        gap: 20px;
        margin: 10px auto;
    }

    .instruments-grid {
        gap: 10px;
    }

    .card {
        height: 100px;
    }

    .mixer-controls {
        flex-direction: column;
        gap: 20px;
    }

    .vinyl-record {
        font-size: 60px;
    }
}