body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2c1a4d, #1a1a2e);
    color: white;
    display: flex;
    justify-content: center;
}

.navbar {
    margin-bottom: 3px;
}

.instruments-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card {
    height: 100px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.mixer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vinyl-record {
    font-size: 80px;
}

.sliders {
    display: flex;
    gap: 10px;
}

.slider {
    appearance: slider-vertical;
    width: 10px;
    height: 100px;
}

.save-mix {
    background: #7a3131;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
}