body {
    background-color: #1a1a2e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.navbar {
    margin-bottom: 3px;
}

.instruments-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}

.card {
    height: 120px;
    background: #ffffff;
    color: #000;
    border-radius: 15px;
    font-weight: bold;
}

.mixer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vinyl-record {
    font-size: 80px;
}

.sliders {
    display: flex;
    gap: 10px;
}

.slider {
    appearance: slider-vertical;
    width: 10px;
    height: 100px;
}

.save-mix {
    background: #7a3131;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
}