* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: #0d001a;
    color: white;
    overflow-x: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 1.5rem;
    color: #dae3e3;
    font-weight: 900;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav a {
    font-family: "Montserrat Alternates", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.3s;
}

.main-nav a:hover {
    color: #ff00ff;
    text-shadow: 0 0 8px #ff00ff;
}

.background-container {
    background-image: url(music.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 120px;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(224, 0, 255, 0.8);

}

.text-content {
    margin-bottom: 40px;
}

p {
    font-family: "Orbitron", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 3px;
    color: #ffffff;
    margin-top: 10px;
}

button {
    background: linear-gradient(90deg, #00e5ff, #e000ff);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 45px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(224, 0, 255, 0.4);
    margin-top: 110px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #e000ff;
}

.transition-text {
    font-size: 0.8em;
    opacity: 0.6;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 480px) {
    .transparent-overlay {
        padding: 40px 15px;
    }

    h1 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    p {
        font-size: 10px;
        letter-spacing: 1px;
    }

    button {
        padding: 10px 30px;
        font-size: 14px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 70px;
    }

    p {
        font-size: 20px;
    }

    button {
        padding: 12px 35px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .transparent-overlay {
        padding: 80px 20px 60px 20px;
    }

    h1 {
        font-size: 80px;
        letter-spacing: 5px;
    }

    p {
        font-size: 22px;
    }

    button {
        font-size: 18px;
    }
}