body {
    background-image: url(images/music.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: Arial;
    
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(85, 64, 64, 0.5);
    z-index: -1;
    
}

.navbar {
    margin-bottom: 3px;
}

.YourMixes, .MixesYouLike, .MixesForYou {
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    color: #000;
    margin-bottom: 10px;
}

.create {
    padding-right: 50px;
    color: white;

}

.create:hover {
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.45);
}

@media (max-width: 768px) {

    .YourMixes, .MixesYouLike, .MixesForYou {

        display: grid;
        grid-template-rows: auto auto;
        grid-auto-columns: max-content;
        overflow-x: auto;
        column-gap: 12px;
        row-gap: 12px;
        overflow-y: hidden;
        padding-bottom: 10px;
        position: relative;
    }

    .YourMixes .image-link, .MixesYouLike .image-link, .MixesForYou .image-link {
        grid-row: 2;
    }

    .YourMixes h3, .MixesYouLike h3, .MixesForYou h3 {
        position: sticky;
        left: 0;
        right: 0;
    }

    .YourMixes img, .MixesYouLike img, .MixesForYou img {
        width: 26vw;
        max-width: 130px;
        min-width: 130px;
        height: auto;

    }





}

.YourMixes img, .MixesYouLike img, .MixesForYou img {
    width: 200px;
    height: auto;
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    margin: 2px;
}


body {
    padding-bottom: 100px;
}

.create {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #ff1b6b, #ff9a44);
    color: white;
    font-size: 18px;
    padding: 16px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    z-index: 999;
}

.bild {
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    color: #000;
    margin-bottom: 10px;
    
}

